flows.json
[{"id":"b9ac224a.83db5","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"9e58624.7faaba","type":"mqtt out","z":"b9ac224a.83db5","name":"","topic":"esp32_001/output","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":350,"y":280,"wires":[]},{"id":"abf7079a.653be8","type":"mqtt in","z":"b9ac224a.83db5","name":"","topic":"esp32_001/O3","qos":"2","datatype":"auto","broker":"10e78a89.5b4fd5","nl":false,"rap":false,"x":120,"y":200,"wires":[["cc79021b.9a751","21eae8f8.2971b8"]]},{"id":"83cf37cf.c76988","type":"ui_switch","z":"b9ac224a.83db5","name":"","label":"Output1","tooltip":"","group":"61285987.c20328","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":true,"x":100,"y":280,"wires":[["9e58624.7faaba"]]},{"id":"cc79021b.9a751","type":"debug","z":"b9ac224a.83db5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":180,"wires":[]},{"id":"21eae8f8.2971b8","type":"ui_chart","z":"b9ac224a.83db5","name":"","group":"61285987.c20328","order":0,"width":0,"height":0,"label":"O3","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":310,"y":220,"wires":[[]]},{"id":"6c828ccf.5e0d94","type":"mqtt out","z":"b9ac224a.83db5","name":"","topic":"esp32_002/output","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":350,"y":440,"wires":[]},{"id":"156547ac.eb3528","type":"mqtt in","z":"b9ac224a.83db5","name":"","topic":"esp32_002/O3","qos":"2","datatype":"auto","broker":"10e78a89.5b4fd5","nl":false,"rap":false,"x":120,"y":360,"wires":[["b07e18ed.a80878","386702b8.24427e"]]},{"id":"d3b77f54.cd5a","type":"ui_switch","z":"b9ac224a.83db5","name":"","label":"Output2","tooltip":"","group":"61285987.c20328","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","animate":true,"x":100,"y":440,"wires":[["6c828ccf.5e0d94"]]},{"id":"b07e18ed.a80878","type":"debug","z":"b9ac224a.83db5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":340,"wires":[]},{"id":"386702b8.24427e","type":"ui_chart","z":"b9ac224a.83db5","name":"","group":"61285987.c20328","order":0,"width":0,"height":0,"label":"O3","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":310,"y":380,"wires":[[]]},{"id":"10e78a89.5b4fd5","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"61285987.c20328","type":"ui_group","name":"Main","tab":"e7c46d5e.a1283","order":1,"disp":true,"width":"6","collapse":false},{"id":"e7c46d5e.a1283","type":"ui_tab","name":"Dashboard","icon":"dashboard"}]